<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cczu.tmall.admin.property.mapper.PropertyMapper">

  <resultMap id="BaseResultMap" type="edu.cczu.tmall.admin.property.domain.Property">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cid" jdbcType="VARCHAR" property="cid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <!-- 抽象出来的基本的字段列 -->
  <sql id="Base_Column_List">
    id, cid, name
  </sql>
  <!-- 根据主键字段查询一条Property信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from property
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 根据主键字段删除一条Property信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from property
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <!-- 全字段插入一条Property信息 -->
  <insert id="insert" parameterType="edu.cczu.tmall.admin.property.domain.Property">
    insert into property (id, cid, name
      )
    values (#{id,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>

  <!-- 根据条件插入一条Property信息 -->
  <insert id="insertSelective" parameterType="edu.cczu.tmall.admin.property.domain.Property">
    insert into property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 根据主键字段按照条件修改一条Property信息 -->
  <!-- set标签动态包含需要更新的列 -->
  <update id="updateByPrimaryKeySelective" parameterType="edu.cczu.tmall.admin.property.domain.Property">
    update property
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 根据主键字段全字段修改(除了主键字段) -->
  <update id="updateByPrimaryKey" parameterType="edu.cczu.tmall.admin.property.domain.Property">
    update property
    set cid = #{cid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>